Repository grahamc/system-configurations: changes, and which lefthook commands are due for each by the changed paths.
All: codegen-readme, codegen-neovim, go-mod-tidy, format-no-cache

.lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json

# By default lefthook uses true colors (e.g. #FFFFFF), but they may not be
# readable depending on the terminal background color. Instead I'm using ANSI
# colors since they come from the terminal's color palette.
colors:
  cyan: 6
  gray: 8
  green: 2
  red: 1
  yellow: 3

output: false

pre-commit:
  piped: true
  commands:
    codegen-readme:
      priority: 1
      glob: "README.md"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just codegen-readme
    codegen-neovim:
      priority: 1
      glob: "*neovim/lua/*.lua"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just codegen-neovim
    go-mod-tidy:
      priority: 1
      glob: "*gozip/*"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just go-mod-tidy
    format:
      priority: 2
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just format
    format-no-cache:
      priority: 3
      glob: "{.stylua.toml,.editorconfig,treefmt.toml}"
      run: DIRENV_LOG_FORMAT='' direnv exec "$PWD" just format-no-cache

post-merge:
  scripts:
    "post-merge.bash":
      runner: DIRENV_LOG_FORMAT='' direnv exec "$PWD" bash
      interactive: true

post-rewrite:
  scripts:
    "post-rewrite.bash":
      runner: DIRENV_LOG_FORMAT='' direnv exec "$PWD" bash
      interactive: true

stuff
  dotfiles/nix/nix.conf
Due: none

homebrew tweaks
  .justfile
  README.md
  flake-modules/nix-darwin/modules/utilities.nix
Due: codegen-readme

apply nix-darwin settings without logout/reboot
  README.md
  flake-modules/nix-darwin/modules/system-settings.nix
Due: codegen-readme

stuff
  flake-modules/nix-darwin/modules/git-kraken-remove-min-window-width.nix
  flake-modules/nix-darwin/modules/homebrew.nix
Due: none

ansi
  .justfile
  README.md
  dotfiles/neovim/colors/ansi.lua
  dotfiles/neovim/colors/my_dark_theme.lua
  dotfiles/neovim/colors/my_light_theme.lua
  dotfiles/neovim/lua/terminal/aesthetic.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorscheme.lua
  dotfiles/neovim/lua/terminal/aesthetic/colorschemes/light_and_dark.lua
  dotfiles/neovim/lua/terminal/aesthetic/cursor.lua
  dotfiles/neovim/lua/terminal/aesthetic/init.lua
  dotfiles/neovim/lua/terminal/aesthetic/misc.lua
  dotfiles/neovim/lua/terminal/aesthetic/system-theme-syncer.lua
  dotfiles/neovim/plugin-names.txt
  flake-modules/home-manager/modules/nix.nix
  flake-modules/nix-darwin/modules/homebrew.nix
  flake-modules/nix-darwin/modules/nix-darwin.nix
  flake.lock
  flake.nix
Due: codegen-readme, codegen-neovim

stuff
  README.md
  dotfiles/hammerspoon/init.lua
  dotfiles/smart_plug/mac_os/Speakers.spoon/init.lua
Due: codegen-readme

oops
  flake-modules/nix-darwin/modules/homebrew.nix
Due: none

use resholve
  flake-modules/portable-home/make-portable-home/bootstrap.bash
  flake-modules/portable-home/make-portable-home/default.nix
  flake-modules/portable-home/make-portable-home/make-bootstrap-script.nix
Due: none

finish ansi theme
  dotfiles/neovim/colors/ansi.lua
  dotfiles/neovim/lua/terminal/aesthetic.lua
  dotfiles/neovim/lua/terminal/notifications.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

broot ansi theme
  dotfiles/broot/conf.hjson
  dotfiles/broot/dark.hjson
  dotfiles/broot/light.hjson
  dotfiles/firefox-developer-edition/finicky/finicky.js
  dotfiles/neovim/colors/ansi.lua
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  dotfiles/neovim/plugin-names.txt
  flake.lock
  flake.nix
Due: codegen-neovim

use page over less
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/widgets.fish
  dotfiles/git/config
  dotfiles/less/lesskey
Due: none

stuff
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
Due: codegen-neovim

oops
  flake-modules/home-manager/modules/profile/system-administration.nix
Due: none

stuff
  dotfiles/neovim/lua/base/mini.lua
  dotfiles/neovim/lua/terminal/notifications.lua
Due: codegen-neovim

stuff
  dotfiles/git/config
  flake-modules/home-manager/modules/nix.nix
Due: none

extra
  README.md
  flake.nix
Due: codegen-readme

more
  dotfiles/wezterm/wezterm.lua
Due: none

stuff
  dotfiles/fish/conf.d/prompt.fish
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  flake-modules/home-manager/modules/neovim.nix
Due: codegen-neovim

no input assigning
  flake-modules/assign-inputs-to-host-managers.nix
  flake-modules/home-manager/modules/home-manager.nix
  flake-modules/nix-darwin/modules/nix-darwin.nix
  flake.nix
Due: none

c-q closes the window
  dotfiles/neovim/lua/terminal/misc.lua
  dotfiles/neovim/lua/terminal/windows.lua
Due: codegen-neovim

nix-search-cli
  .envrc
  .justfile
  .lefthook.yml
  README.md
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/nix/bin/nix-info
  flake-modules/home-manager/modules/home-manager.nix
  flake-modules/home-manager/modules/nix.nix
  flake-modules/nix-darwin/modules/nix-darwin.nix
Due: codegen-readme

shell integration
  dotfiles/fish/conf.d/00-login.fish
  dotfiles/fish/conf.d/dom-term-shell-integration.fish
  dotfiles/fish/conf.d/vscode-shell-integration.fish
  dotfiles/general/bin/default-shell
  dotfiles/wezterm/wezterm.lua
Due: none

fix
  flake.nix
Due: none

workflow for tests
  .github/workflows/tests.yml
  .justfile
  tests.bash
Due: none

workflow for gomod2nix
  .github/workflows/gomod2nix.yml
Due: none

fix
  .github/workflows/gomod2nix.yml
Due: none

lower nix-direnv version
  .envrc
Due: none

fix test workflow
  .github/workflows/tests.yml
Due: none

fixes
  .envrc
  .github/workflows/gomod2nix.yml
Due: none

add workflow to fix renovate\'s envrc PR
  .envrc
  .github/workflows/fixup-renovate-pr-for-envrc.yml
  .justfile
Due: none

fix
  .github/workflows/fixup-renovate-pr-for-envrc.yml
Due: none

more fixes
  .github/workflows/fixup-renovate-pr-for-envrc.yml
  .github/workflows/gomod2nix.yml
  .github/workflows/tests.yml
  .justfile
Due: none

stuff
  .justfile
Due: none

tests were reaching storage limit on github
  tests.bash
Due: none

reconfigure renovate
  .github/renovate.json5
  renovate.json
Due: none

speculative fix
  .github/renovate.json5
Due: none

format
  .github/renovate.json5
  .treefmt.toml
  dotfiles/fish/conf.d/dom-term-shell-integration.fish
  dotfiles/fish/conf.d/fish.fish
  dotfiles/fish/conf.d/general.fish
  dotfiles/fish/conf.d/vscode-shell-integration.fish
  dotfiles/hammerspoon/init.lua
  dotfiles/neovim/colors/ansi.lua
  dotfiles/neovim/lua/terminal/aesthetic.lua
  dotfiles/neovim/lua/terminal/statusbars/statusline.lua
  dotfiles/neovim/lua/terminal/windows.lua
  dotfiles/wezterm/wezterm.lua
  flake-modules/dev-shell.nix
Due: codegen-neovim

automerge pin and digest types
  .github/renovate.json5
Due: none

ls after directory change
  dotfiles/fish/conf.d/fish.fish
Due: none
